<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body style="background-color: rgb(228, 228, 228);">
        <%- include('partials/header') %>
        <main>

        </main>
        <footer>
            
        </footer>
    </body>
</html>