<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

    <body style="background-color: rgb(228, 228, 228);">
        <%- include('partials/header') %>
            <main>
                <div id="carouselExampleIndicators" class="carousel slide mb-2 mt-5">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://tecstore.pe/media/banner-tecstore-1430x450-huawei_1.jpg"
                                class="d-block w-100" style="height: 500px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://tecstore.pe/media/TEC_Banner-Web_Categoria_ACCESORIOS.jpg"
                                class="d-block w-100" style="height: 500px;" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://marketplace.canva.com/EAFEhUK_WdY/1/0/1600w/canva-banner-para-mercado-shops-tienda-de-celulares-moderno-negro-AWRKN423ZV0.jpg"
                                class="d-block w-100" style="height: 500px;" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="row row-cols-1 row-cols-md-5 m-2 w-100">
                    <% for(let product of products){ %>
                        <%- include('partials/card',{product}) %>
                            <% } %>
                </div>
            </main>
    </body>

</html>