<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
</head>

<body>
    <header class="d-flex justify-content-between bg-light navbar p-2">
        <nav class="navbar navbar-expand-lg" style="box-shadow: none;">
            <div class="container-fluid">
                <a href="/"><img style="width: 80px;" src="/img/logoDemon.png" alt=""></a>
                <h2 class="navbar-brand">Electronic Demon</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ofertas</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Celulares</a></li>
                                <li><a class="dropdown-item" href="#">Computación</a></li>
                                <li><a class="dropdown-item" href="#">Tv & audio</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
        <nav class="navbar navbar-expand-lg " style="box-shadow: none;">
            <div>
                <nav class="navbar navbar-light bg-body-tertiary" style="box-shadow: none;">
                    <div class="container-fluid">
                        <form class="d-flex input-group w-auto">
                            <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                                aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a href="/products/cart"><button class="btn btn-light btn-lg">
                                <i class="fa-solid fa-cart-shopping"></i></button> </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>

</body>

</html>